.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.bg--shironeri {
    background-color: $shironeri;
}

.bg--sumi-iro {
    background-color: $sumi-iro;
}
.bg--white {
    background-color: $white;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.35);
    z-index: -1;
}
.overlay--grad {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.35);
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 20%, rgba(0,0,0,0) 65%);
    z-index: -1;
}